<div><%= @player_1_name %> vs. <%= @player_2_name %></div>
<div><%= @player_2_name %>: 100 HP</div>

<div><button type="button" name="Attack" onclick="hit_confirmation">Attack</button></div>

<div><input name="display_box" placeholder=""></div>
